*{background-color: black;}
#pic{height: 300; width: 600;border: 3px solid white}

#box{
    text-align: center;
    color: white;
    font-weight: 400;
    font-style: normal;
    margin-left: 25%;
    width:607;
    margin-top: 50px;
    font-family:"Libre Baskerville", serif;

    }



